body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.content {
  max-width: 480px;
  background-position: 50% 0;
  background-size: cover;
}

.dark-background {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  background-color: rgba(0,0,0, 0.3);
  color: white; 
}

.background-image {
  background-image: url("assets/clear.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 50%;
  z-index: -1;
}

.select-city {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.selectable {
  width: max-content;
  border: 1px solid grey;
  padding: 10px;
}

.selectable:hover {
  cursor: pointer;
  background: #e9f5f9;
}

input[type=range] {
  width: 50px;
}

.current-temp {

}