body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: "Charcoal", sans-serif
}

.content {
  max-width: 480px;
  /* background-position: 50% 0;
  background-size: cover; */
}

.dark-background {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  background-color: rgba(0,0,0, 0.3);
  color: white;
  width: max-content; 
}

.background-image {
  background-image: url("assets/clear.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 50%;
  z-index: -1;
}

.select-city {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.selectable {
  width: max-content;
  padding: 10px;
  background-color: rgba(0,0,0, 0.5);
  border-radius: 5px;
  color: white;
}

.selectable:hover {
  cursor: pointer;
  filter: invert(100%);
}

input[type=range] {
  width: 50px;
}

form {
  grid-row-start: 1;
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input[type=text] {
  border-radius: 5px;
  height: 22px;
  border: none;
}

form input[type=text]:focus {
  outline: solid #4482a7;
}

form input[type=submit] {
  width: 50px;
  margin: auto;
}

form input[type=submit]:hover {
  cursor: pointer;
}


